/* =====Banner===== */
 .banner{ 
    padding-top: 120px;
    padding-bottom: 120px;
} 

.gallery-main{
    background-image: url('img/bg-about.jpg');
    width: 100%;
    height: 100%;
}

.gallery-heading{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
}

@media only screen and (max-width : 400px) and (min-width : 300px){
    .gallery-heading{
        font-size: 50px;
    }
}

/* =====Section 2 Styling===== */
.sec2-heading{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    margin-top: 90px;
}

.sec2-main{
    background-color: #f8f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
}